// Hero section

.hero-container {
    .hero-content {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 25%;
        h1{
            color: #fff;
  
        }
        h2{
            color: #fff; 
  
        }
        button{
            background-color: @main-btn;
            border: none;
            color: #fff;
            padding: 20px 40px;
            text-align: center;
            text-decoration: none;
            display: flex;
            margin: 20px 16px;
            cursor: pointer;
            border-radius: 32px;

            &:hover{
                background-color: @button-hover;

            }
        }
    }
    background: linear-gradient(rgba(rgb(28, 221, 235), .6), rgba(#1DB954, .6)), url("../img/bg.jpg");
    height: 700px;
    background-size: cover;
    background-position: 50% 0;
  }

  // Dashbord Section


  .sec1{
      width: 100%;
      padding: 80px 0;
      .content1 {
          display: flex;
          justify-content: center;
          img{
              width: 568px;
              height: 300px;
          }
          .text1{
            margin: auto 25px;
            h2{
                text-align: center;
                margin-bottom: 10px;
                
            }
            .line2{
                // display: flex;
                // justify-content: center;
                width: 80%;
                // height: 2px;
                border: 1px solid @main-btn;
                margin-bottom:20px;
                margin-left: 10%;
            }
            p{
                padding: auto 25px;  
            }
          }
          
      }
  }


//   Section 2


.sec2 {
    width: 100%;
    background: linear-gradient(rgba(rgb(0, 0, 0), .6), rgba(rgb(2, 77, 28), .6)), url("../img/lights.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}





// Section 3


.sec3{
    width: 100%;
    padding: 50px 0;
    .content3{
        display: flex;
        justify-content: center;
    }
}